@import "../../../styles/purecss";

.array-item {
  margin-bottom: 5px;
  
  .pure-button-group {
    padding-left: 6px;
    display: inline-block;
    vertical-align: middle;

    .hide {
      display: none;
    }
  }

  & div {
    padding: 1px 0;
  }
}
