@import "../../../../node_modules/purecss/build/pure-min.css";

.array-item {
  margin-bottom: 5px;
  
  .pure-button-group {
    padding-left: 6px;
    display: inline-block;
    vertical-align: middle;
    width: 10%;

    .hide {
      display: none;
    }
  }

  & div {
    padding: 1px 0;
  }
}
