<label>
  {{labelVisible ? label : ''}}
</label>

<span [ngSwitch]="field.type" [formGroup]="form">
  <ng-template [ngSwitchCase]="'hidden'">
    <input type="hidden" placeholder="{{field.label}}" [formControlName]="fieldName"/>
  </ng-template>
  <ng-template [ngSwitchCase]="'text'" ngSwitchDefault>
    <input type="text" placeholder="{{field.label}}" [formControlName]="fieldName"/>
  </ng-template>
  <ng-template [ngSwitchCase]="'integer'">
    <input type="number" placeholder="{{field.label}}" [formControlName]="fieldName"/>
  </ng-template>
  <ng-template [ngSwitchCase]="'number'">
    <input type="number" placeholder="{{field.label}}" [formControlName]="fieldName" step="any"/>
  </ng-template>
  <ng-template [ngSwitchCase]="'email'">
    <input type="email" placeholder="{{field.label}}" [formControlName]="fieldName"/>
  </ng-template>
  <ng-template [ngSwitchCase]="'array'">
    <textarea placeholder="{{field.label}}" [formControlName]="fieldName"></textarea>
  </ng-template>
  <ng-template [ngSwitchCase]="'select'">
    <select [formControlName]="fieldName">
      <option value="">-- Select --</option>
      <option *ngFor="let option of combinedOptions"
              value="{{formatSelectOption(option).value}}">{{formatSelectOption(option).display}}</option>
    </select>
  </ng-template>
  <ng-template [ngSwitchCase]="'boolean'">
    <label class="pure-checkbox">
      <input type="checkbox" [formControlName]="fieldName"/>
      {{label}}
    </label>
  </ng-template>
</span>
