<label [ngClass]="{'required': field.required}" *ngIf="!field.arrayChild">
  {{labelVisible ? label : ''}}
</label>

<span [ngSwitch]="field.type" [formGroup]="form">
  <ng-template [ngSwitchCase]="'hidden'">
    <input type="hidden" placeholder="{{field.label}}" [formControlName]="fieldName"/>
  </ng-template>
  <ng-template [ngSwitchCase]="'text'" ngSwitchDefault>
    <input type="text" placeholder="{{field.label}}" [formControlName]="fieldName" [required]="field.required" [readOnly]="field.readonly"/>
  </ng-template>
  <ng-template [ngSwitchCase]="'integer'">
    <input type="number" placeholder="{{field.label}}" [formControlName]="fieldName" [required]="field.required" [readOnly]="field.readonly"/>
  </ng-template>
  <ng-template [ngSwitchCase]="'number'">
    <input type="number" placeholder="{{field.label}}" [formControlName]="fieldName" step="any" [required]="field.required" [readOnly]="field.readonly"/>
  </ng-template>
  <ng-template [ngSwitchCase]="'email'">
    <input type="email" placeholder="{{field.label}}" [formControlName]="fieldName" [required]="field.required" [readOnly]="field.readonly"/>
  </ng-template>
  <ng-template [ngSwitchCase]="'select'">
    <select [formControlName]="fieldName" [required]="field.required">
      <option value="">-- Select --</option>
      <option *ngFor="let option of combinedOptions"
              value="{{formatSelectOption(option).value}}">{{formatSelectOption(option).display}}</option>
    </select>
  </ng-template>
  <ng-template [ngSwitchCase]="'boolean'">
    <label class="pure-checkbox">
      <input type="checkbox" [formControlName]="fieldName" [readOnly]="field.readonly"/>
      {{label}}
    </label>
  </ng-template>
  <ng-template [ngSwitchCase]="'array'">
    <array-input [field]="field" [form]="form" [requestHeaders]="requestHeaders"
                 [workingRowData]="workingRowData" [methodDataPath]="methodDataPath">
    </array-input>
  </ng-template>
</span>
