

.app-details-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: auto;
  min-height: 100vh;
}

.app-details-page-header {
  position: relative;
  padding: 30px;
  background: rgba(255,255,255,0.4);
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  display: flex;
  align-items: flex-start;

  @media screen and (max-width: 800px) { 
    padding: 15px;
    flex-direction: column;
    text-align: center;
  }

  .add-item {
    font-size: 18px;
    padding: 12px 30px;

    @media screen and (max-width: 800px) { 
      margin-top: 15px;
      font-size: 14px;
      padding: 7px 15px;
    }
  }

  hgroup {
    margin: 0;
    padding: 0;
    flex: 1;

    h2 {
      font-size: 24px;
      margin: 0;
      line-height: 1.5em;
    }

    h4 {
      margin: 15px 0 0;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.5em;

      @media screen and (max-width: 800px) { 
        margin-top: 5px;
      }
    }
  }
}

.app-details-page-content {
  position: relative;
  padding: 30px;

  @media screen and (max-width: 800px) { 
    .app-loader, .app-error {
      position: relative;
    }

    .app-error {
      transform: none;
      left: 0;
      top: 0;
      margin: 40px 0;
      text-align: center;
    }
  }
}

.app-error, .app-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    // border-bottom: 1px solid #aaa;
    margin: 0 0 30px;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    color: #aaa;

    &--selected {
      // background: #fff;
      border-bottom:2px solid var(--navBackground, #3C3E6F);
      color: black;
      // border-radius: 5px 5px 0 0;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    // &:focus {
      // box-shadow: 0 0 5px hsl(208, 99%, 50%);
      // border-color: hsl(208, 99%, 50%);
      // outline: none;

      // &:after {
      //   content: "";
      //   position: absolute;
      //   height: 5px;
      //   left: -4px;
      //   right: -4px;
      //   bottom: -5px;
      //   background: #fff;
      // }
    // }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}

.details-actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  z-index: 10;

  > * {
    margin: 0 5px;
    border-radius: 50em;
    width: 42px;
    height: 42px;
    font-size: 18px;
    cursor: pointer;
    background: v(actionButtonBackground, #e6e6e6);
    color: v(actionButtonText, #000000cc);

    &:hover {
      background: v(actionButtonHoverBackground, #ebebeb);
    }
  }
}