@import '../../common/styles/functions';

.app-nav {
  text-align: left;
  overflow: auto;
  max-height: calc(100vh - 63px);


  .app-nav-opener {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    border-radius: 50em;
    background: none;
    z-index: 1;
    font-size: 18px;
    display: none;

    @media screen and (max-width: 800px) {
      display: block;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  .app-nav-wrapper {
    @media screen and (max-width: 800px) { 
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      overflow: auto;
      background: #3C3E6F;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 40px;
    }

    &.opened {
      display: flex;
    }

    .app-nav-links {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: flex-start;
    }

    a {
      display: block;
      color: v(navItemText, #fff);
      text-decoration: none;
      padding: 10px 20px;
      margin: 0;
      font-size: 14px;
      line-height: 1.3em;
      cursor: pointer;
      transition: 0.2s background-color ease 0s;

      @media screen and (max-width: 800px) { 
        border-radius: 50em;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
  
      &:hover {
        background: v(navItemHoverBackground, #424479);
      }
  
      &.active {
        background: v(navItemActiveBackground, #57578f);
      }
    }
  }
}

ul { list-style-type: none; }

a {
  color: #b63b4d;
  text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/


h1 {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
}

h1 a {
  color: #c12c42;
  font-size: 16px;
}

.accordion {
  width: 100%;
  max-width: 360px;
  margin: 30px auto 20px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link { color: #b63b4d; }

.accordion li.open i { color: #b63b4d; }

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #444359;
  font-size: 14px;
}

.submenu li { border-bottom: 1px solid #4b4a5e; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}