@import "../../../../styles/vars";
@import "../../../../../node_modules/purecss/build/pure-min.css";
@import "../../../../../node_modules/purecss/build/grids-responsive-min.css";

.header {
  margin: 0 0 20px;
  border-bottom: 1px solid #ddd;

  > div {
    &:first-child {
      display: inline-block;
    }
    &:last-child {
      text-align: right;
    }
  }
}

.description {
  margin: 10px 0 20px;
}

.pure-table {
  min-width: 100%;
  background: #fff;

  .pure-button {
    margin: 0 5px;
    border-radius: 2px;
    border: none;

    &.hide {
      display: none;
    }
  }
}

.pure-form {
  .pure-control-group {
    display: inline-block;
    padding: 0 10px 0 0;
  }

  .pure-controls {
    display: block;
    margin: 1em 0 0;
  }

  label {
    margin-right: 5px;
  }

  select {
    line-height: 1em;
    min-height: 24px;
  }

  fieldset {
    margin: 0 0 20px;
    padding: 0;
  }
}

.thumb {
  width: 200px;
  height: 150px;
  background: no-repeat center center;
  background-size: cover;
}

.colorbox {
  width: 80px;
  height: 20px;
  padding: 0 1em 0;
}

.pure-button.button-xlarge {
  font-size: 125%;
}

.pure-button.button-success {
  background: #1cb841;
}

.pure-button.button-success, .pure-button.button-error, .pure-button.button-warning, .pure-button.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.filter-form {
  width: 20em;
}
