<div class="pure-g header">
  <div class="description pure-u-1-2">
    {{pageData ? pageData.description : ''}}
  </div>
  <div class="create pure-u-1-2">
    <button class="pure-button button-success button-xlarge" *ngIf="pageData && pageData.methods && pageData.methods.post" (click)="onClickNew()">+ Add Item</button>
  </div>
</div>

<form *ngIf="queryParams.length" class="pure-form pure-form-stacked" [formGroup]="myForm" (ngSubmit)="getResults()">
  <fieldset>
    <field-input [field]="field" [form]="myForm" *ngFor="let field of queryParams" class="pure-control-group"></field-input>

    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </div>
  </fieldset>
</form>

<app-loader [loading]="loading" [size]="'small'"></app-loader>

<div *ngIf="!loading">

  <table class="pure-table pure-table-horizontal">
    <thead>
    <tr>
      <th *ngFor="let field of fields">{{field.label || field.name}}</th>
      <th *ngIf="showActions()"[ngStyle]="{width: '110px', textAlign: 'center'}">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let field of fields">
        <div [ngSwitch]="field.type">
          <ng-template [ngSwitchCase]="'text'" ngSwitchDefault>
            {{dataPathUtils.extractDataFromResponse(row, field.dataPath, field.name)}}
          </ng-template>
          <ng-template [ngSwitchCase]="'url'">
            <a target="_blank" href="{{dataPathUtils.extractDataFromResponse(row, field.dataPath, field.name)}}">
              {{dataPathUtils.extractDataFromResponse(row, field.dataPath, field.name)}}
            </a>
          </ng-template>
          <ng-template [ngSwitchCase]="'image'">
            <div class="thumb" [ngStyle]="{backgroundImage: 'url(' + dataPathUtils.extractDataFromResponse(row, field.dataPath, field.name) + ')'}"></div>
          </ng-template>
        </div>
      </td>
      <td *ngIf="showActions()" [ngStyle]="{textAlign: 'center'}">
        <div class="pure-button-group">
          <button class="pure-button" [ngClass]="{hide: !pageData.methods.put}" (click)="onClickEdit(row)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
          <button class="pure-button" [ngClass]="{hide: !pageData.methods.delete}" (click)="delete(row)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
