@import "../assets/vars";

aside {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: $aside-width;
  background: #3C3E6F;
  color: #fff;
  box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.3);
  z-index: 10;

  h1 {
    padding: 20px;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
  }
}
