.app-page {
  padding: 30px;
  background: rgba(255,255,255,0.4);
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  margin: 0 0 20px;

  .app-page-header {
    position: relative;

    hgroup {
      margin: 0;
      padding: 0;
      line-height: 1.5em;

      h2 {
        font-size: 24px;
        margin: 0;
      }

      h4 {
        margin: 15px 0 0;
        font-weight: 300;
      }
    }
  }

}