

/**
 * Submenu
 -----------------------------*/


.fa-angle-down {
  font-size: 20px;
  color: rgba(255,255,255, .5);
  transition: all .6s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.fa-rotate-180 {
  color: rgba(255,255,255, 1);
  transform: rotate(180deg);

}

.arrow-wrapper {
    transition: all 0.5s ease;
}

.accordion-title {
  height: 30px;
  text-align: left;
  font-weight: lighter;
  padding: 10px;
  margin-top: 2px;
  transition: all .2s ease-in;
  cursor: pointer;
}

.accordion-content {
    visibility: hidden;
    opacity: 0;
    transition: all 200ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

.accordion-content-open {
  opacity: 1;
  visibility: visible;
  transition: all .8s ease-in;
  transition: all 350ms cubic-bezier(0.080, 1.090, 0.320, 1.275);
}